<div class="">
  <h1>Command Operation Section</h1>
  </p>
</div>
<div class="form-horizontal">


  <label class="col-md-offset-2 control-label col-md-2" for="groups_select">Group To Command</label>

  <div class="col-md-4">
    <select name="groups_select" class="form-control" id="groups_select"
            ng-model="data.group">
      <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" ng-click="GetGroupsTheo()">
      <span></span><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-offset-4 col-md-4">

    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" ng-click="DoPing(data)">
      <span>Do Ping </span><span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
    </button>
  </div>

  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter Ping Url"  ng-model="data.pingurl">
  </div>

  <div class="clearfix"></div>
  <div class="col-md-offset-4 col-md-4">
    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align"
            ng-click="">
      <span>Do other operation </span><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>


  <div class="col-md-offset-2 col-md-7">
    <label for="chat_area">Chat:</label>
    <textarea class="form-control" ng-model="chat" rows="15" id="chat_area" disabled></textarea>
  </div>

  <div class="clearfix"></div>
  <div class="col-md-offset-2 col-md-7">
    <label for="chat_area">Comment:</label>
    <input type="text" class="form-control" placeholder="future example: THEO PING ICARE-ATT www.google.com" rows="5" id="text_entry" />
  </div>
  <div class="clearfix"></div>
  <div class="col-md-offset-4 col-md-4">
    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" ng-click="">
    <span>Speak</span><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
  </button>
  </div>
  <div class="clearfix"></div>
</div>




