<div class="">
  <h1>Platform Definition Selection</h1>
  <h4>Key Selection {{data.environment}}-{{data.client}}-{{data.channel}}-{{data.layer}}-{{data.module}}</h4>

  <p>
    Selector for keys related to a platform definition set
  </p>
</div>
<div class="form-horizontal">


  <label class="col-md-offset-3 control-label col-md-2" for="environment_select">Environment</label>

  <div class="col-md-2">
    <select name="environment_select" class="form-control" id="environment_select"
            ng-model="data.environment">
      <option ng-repeat="option in environments" value="{{option}}">{{option}}</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <label class="col-md-offset-3 control-label col-md-2" for="client_select">Client</label>

  <div class="col-md-2">
    <select name="client_select" class="form-control" id="client_select" ng-model="data.client">
      <option ng-repeat="option in clients" value="{{option}}">{{option}}</option>
    </select>
  </div>

  <div class="clearfix"></div>
  <label class="col-md-offset-3 control-label col-md-2" for="channel_select">Channel</label>

  <div class="col-md-2">
    <select name="client_select" class="form-control" id="channel_select" ng-model="data.channel">
      <option ng-repeat="option in channels" value="{{option}}">{{option}}</option>
    </select>
  </div>

  <div class="clearfix"></div>
  <label class="col-md-offset-3 control-label col-md-2" for="layer_select">Layer</label>
  <div class="col-md-2">
  <select name="client_select" class="form-control" id="layer_select" ng-model="data.layer">
    <option ng-repeat="option in layers" value="{{option}}">{{option}}</option>
  </select>
  </div>
  <div class="clearfix"></div>

  <label class="col-md-offset-3 control-label col-md-2" for="module_select">Module</label>
    <div class="col-md-2">
  <select name="client_select" class="form-control" id="module_select" ng-model="data.module">
    <option ng-repeat="option in modules" value="{{option}}">{{option}}</option>
  </select>
    </div>

</div>
  <div class="clearfix"></div>
<div class="col-md-offset-4 col-md-4">
<button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" ng-click="GetPDFClick(data)">
  <span>Retrieve Platform Definition </span><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
</button>
</div>
  <div class="clearfix"></div>
<div class="col-md-offset-4 col-md-4">
<button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" ng-click="ReloadPDFClick(data)">
  <span>Reload Platform Definition </span><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
</button>
</div>
  <div class="clearfix"></div>
<div>{{msg.lastCellEdited}}</div>

<div ui-grid="gridOptions" ui-grid-edit class="pdfGrid"></div>




